.container {
  position: relative;
  background-image: url("../img/background4.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  background-color: #007399;
  font-family: cursive;
  text-align: center;
  text-shadow: 1px 1px 1px #00131a;
  color: #80dfff;
}
.well {
  background-image: url("../img/texture1.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
}
h2 {
  background-color: #e0ebeb;
  color: #80dfff;
  text-shadow: 1px 1px 1px #00131a;
  font-family: cursive;
  text-align: center;
  border-style: double;
}
p {
  text-align: center;
  background-color: #e0ebeb;
  font-family: cursive;
}
.ul1 {
  background-color: #e0ebeb;
  font-family: cursive;
  padding-left: 20%;
  padding-right: 20%;
}
h3 {
  background-color: #e0ebeb;
  color: #80dfff;
  text-shadow: 1px 1px 1px #00131a;
  font-family: cursive;
  text-align: center;
  border-style: double;
}
.photor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 120px;
  object-fit: contain;
}
.xbold {
  font-weight: bolder;
  font-size: 150%;
  font-family: cursive;
}

.col-lg-3 {
  background-color: #ffcccc;
  border-radius: 4px;
  padding: 2px;
  margin: 6px;
  text-align: center;
}
.ul-projects {
  text-align: left;
}

.col-lg-3-header {
  background-color: #ccf2ff;
  text-shadow: lightgrey 1px 2px;
  font-weight: bold;
  font-family: serif;
  margin-left: 20%;
  margin-right: 20%;
  border-style: outset;
}
