.container {
  position: relative;
}

.jumbotron {
  background-color: #80dfff;
  font-family: cursive;
  text-align: center;
  text-shadow: 1px 1px 1px #00131a;
  color: #80dfff;
}
.photor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: 70px;
  height: 100px;
  object-fit: contain;
}
.xbold {
  font-weight: bolder;
  font-size: 150%;
  font-family: cursive;
}

.col-lg-3 {
  background-color: #ffcccc;
  border-radius: 4px;
  padding: 2px;
  margin: 6px;
  text-align: center;
}
.ul-projects {
  text-align: left;
}

.col-lg-3-header {
  /*text-decoration: underline;*/
  background-color: #ccf2ff;
  text-shadow: lightgrey 1px 2px;
  font-weight: bold;
  font-family: serif;
  margin-left: 20%;
  margin-right: 20%;
}
